﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@model Blog
   

    <div>
     @Model.Name
    </div>

     <div>
     @Model.CreatedOn
    </div>

    <div>
     @Model.Body
    </div>

   
    <partial name="_AddComment" model= "new AddCommentModel{BlogId=Model.Id}" />

    <partial name="_Comments" model="Model.Id" />
