﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.Blog>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />


    
@{
}

<h1 class="text-primary">Blogs Page</h1>



@foreach (var obj in Model)

{
    <div>

     @obj.Name
    </div>

     <div>
     @obj.CreatedOn
    </div>

    <div>
     @obj.Body
    </div>


     <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@obj.Id" class="btn btn-outline-light" > Details</a>


<hr />



}

 @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{ LiElementClasses = new string[] {"page-item"}, PageClasses= new string[] {"page-link"}})


