﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@model NewsCategory



<h1 class="text-primary">News</h1>

@{
    var news = ViewData["news"] as List<News> ?? new();
 
 
}

@foreach (var obj in news)

{    
    <label asp-for="@obj.Title">Name:</label>
    <div>
        @obj.Title
    </div>

    <label asp-for="@obj.PublishOn">Created On:</label>
     <div>
        @obj.PublishOn
    </div>
    
    <label asp-for="@obj.Body">Body:</label>
    <div>
        @obj.Body
    </div>

     <hr />

}

   <a asp-controller="NewsCategory" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    
