﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.NewsCategory>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />

<h1 class="text-primary">News Categories</h1>

  <div class="container">
  <div class="row row-cols-3">

@foreach (var obj in Model)
{    
 
    <div class="col">
        <div class="text-center">
        @obj.Name
    <br>

    <a asp-controller="NewsCategory" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-outline-warning"> News</a>

    <hr />
    </div>
    </div>

}
</div>
</div>

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{ LiElementClasses = new string[] {"page-item"}, PageClasses= new string[] {"page-link"}})
