﻿@using MyPersonalWebsite.ClassLib.Models
@model AddTagModel

<form method="post" asp-action="AddTag" asp-controller="Tag">
    
    @Html.HiddenFor(c => c.BlogsId)
        <div>
            <div class="form-group">
           <label asp-for="Name"></label>
           <input asp-for="Name" class="form-control" />
           </div>
        <div>
        <button type="submit" class="btn btn-primary mt-1">Add Tag</button>
        </div>
</form>