﻿@using MyPersonalWebsite.ClassLib.Models
@model AddCommentModel


<form method="post" asp-action="AddComment" asp-controller="Blog">

    @Html.HiddenFor(c => c.BlogId)
    <div>
        <h2 class="text-primary">Add Comment</h2>
        <hr />
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

     <div class="mb-3">
        <label asp-for="Body">Comment</label>
         <textarea asp-for="Body" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary"> Add</button>

    <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary">Back to List</a>

</form>