﻿@model int
@using MyPersonalWebsite.ClassLib.Services.IServices
@inject ICommentService _commentService

@{
    var comments = _commentService.GetComments(Model);
}

@foreach ( var obj in comments.Result)

{
    <div>

     @obj.Name
    </div>

     <div>
     @obj.Body
    </div>

<hr/>
}
