﻿@model CategoryViewModel
<div class="form-group">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.Name" />
    <label asp-for="@Model.Name" class="form-label"></label>
    @Html.DisplayFor(model => model.Name)
    <input asp-for="@Model.IsSelected"  />
</div>