﻿@using MyPersonalWebsite.ClassLib.Models.Category
@model AddCategoryModel

<form method="post" asp-action="Create">
    <div>
        <div>
            <h2 class="text-primary">New Category</h2>
            <hr/>
        </div>

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <br/>

        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
            Back to List
        </a>

   </div>
 </form>
