﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@model Category

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div>
        <div>
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" disabled class="text-danger"></span>
        </div>

        <br />
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
        

    </div>



</form>
