﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.Category>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
    
<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />

<h1 class="text-primary">List of Categories</h1>
  <hr />

    <div class= col-12>
    <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary">New Category</a>
    </div>

  <br/>

  <div class="container">
    @foreach (var obj in Model){
  <div class="row">
     <div class="col-6">
      <label>Category Name:</label>
      @obj.CategoryName
      </div>
  </div>

    <br/>

  <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-warning"> Edit</a>
  <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger"> Delete</a>
<hr />
    }
</div>