﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.News>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />

<h1 class="text-primary">News Page</h1>

@foreach (var obj in Model)

{    
    <label asp-for="@obj.Title">Title:</label>
    <div>
        @obj.Title
    </div>

    <label asp-for="@obj.PublishOn">Created On:</label>
     <div>
        @obj.PublishOn
    </div>
    
    <label asp-for="@obj.Body">Body:</label>
    <div>
        @obj.Body
    </div>

    <hr />
}

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{ LiElementClasses = new string[] {"page-item"}, PageClasses= new string[] {"page-link"}})
