﻿@page "/ContactForm/Index"
@model MyPersonalWebsiteRazorPages.Pages.ContactForm.ContactPageModel

     <head>
        <title>Contact Us</title>
    </head>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
       <p><label asp-for="contactform.Name">Your Name:</label>
       <input asp-for="contactform.Name" class="form-control"/>
        <span asp-validation-for="contactform.Name" class="text-danger"></span>
    </div>

    

    <div>
       <p><label asp-for="contactform.Email">Your Email: </label></p>
        <input asp-for="contactform.Email" class="form-control"/>
        <span asp-validation-for="contactform.Email" class="text-danger"></span>
    </div>
    
     <div>
        <p><label asp-for="contactform.Message">Your Message: </label></p>
        <textarea asp-for="contactform.Message" clas="form-control" rows="6" cols="50"></textarea>
        <span asp-validation-for="contactform.Message" class="text-danger"></span>
    </div>

    
    <br/>
    <button type="submit" class="btn btn-primary" style="width:150px;">Submit</button>

</form>

