﻿@using MyPersonalWebsite.ClassLib.Models.NewsCategory
@model AddNewsCategoryModel

<form method="post" asp-action="Create">
    <div>
        <div>
            <h2 class="text-primary">Create News Category</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-primary btn-primary" style="width:150px">Create</button>
        <a asp-controller="NewsCategory" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
        

    </div>



</form>
