﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@model NewsCategory

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div>
        <div>
            <h2 class="text-primary">Delete News Category</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" disabled class="text-danger"></span>
        </div>
 
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="News" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
        

    </div>



</form>