﻿@using MyPersonalWebsite.ClassLib.Models.NewsCategory
@using MyPersonalWebsite.ClassLib.Services
@model EditNewsCategoryModel


<form method="post" asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    
    <div>
        <div>
            <h2 class="text-primary">Edit News Category</h2>
            <hr />
        </div>

       <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    
        <button type="submit" class="btn btn-primary mt-1" style="width:150px">Update</button>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>
