﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.NewsCategory>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />

<h1 class="text-primary">News Categories</h1>

<div class="col-12 text-end">
    <a asp-controller="NewsCategory" asp-action="Create" class="btn btn-outline-primary">Add News Category</a>
</div>

@foreach (var obj in Model)

{    
    <label asp-for="@obj.Name">Category Name:</label>
    <div>
        @obj.Name
    </div>

    <a asp-controller="NewsCategory" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-warning"> Edit</a>
    <a asp-controller="NewsCategory" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger"> Delete</a>

    <hr />
}

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{ LiElementClasses = new string[] {"page-item"}, PageClasses= new string[] {"page-link"}})