﻿@using MyPersonalWebsite.ClassLib.Models
@model DeleteTagModel

<div class="alert alert-danger">
    @Model.Description
</div>

<form method="post" asp-action="DeleteTag" asp-controller="Tag">
    <input type="hidden" asp-for="BlogId"/>
    <input type="hidden" asp-for="TagId" /> 

    <button type="submit" class="btn  btn-outline-danger">Confirm Delete</button>
</form>