﻿@page "/"
@model MyPersonalWebsitesRazorPages.Pages.HomePage.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Newcastle United</h1>
    <img src="@Model.HeroImageUrl" alt="Newcastle United"/> 
    <br/>
    <p> @Model.HomePageText</p>
</div>