﻿@using MyPersonalWebsite.ClassLib.Models.Blog
@model AddBlogModel

<form method="post">
    <div>
        <div>
            <h2 class="text-primary">Create Blog</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="CreatedOn"></label>
            <input asp-for="CreatedOn" class="form-control" />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Body"></label>
            <br/>
            <textarea asp-for="Body" clas="form-control" rows="6" cols="50"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <button type="submit" class="btn-primary btn-primary" style="width:150px">Create</button>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
        

    </div>



</form>