﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@using MyPersonalWebsite.ClassLib.Models
@using MyPersonalWebsite.ClassLib.Services
@model EditBlogModel
@{
    var tags = ViewData["tags"] as List<Tag> ?? new();
    var authors = ViewData["authors"] as List<SelectListItem> ?? new List<SelectListItem>();
    var tagString = tags != null ? string.Join(", ", tags.Select(x => x.Name)) : "";
 
}

<form method="post" asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    
    <div>
        <div>
            <h2 class="text-primary">Edit Blog</h2>
            <hr />
        </div>

    <div class="form-group">
      <label asp-for="AuthorId" class="control-label">Author:</label>
      <select asp-for="AuthorId" class="form-select" asp-items="@(new SelectList(@authors,"Value","Text"))">
           <option value="">Select Author</option>
            </select>
       <br/>
       </div>
       <div class="form-group">
        <label class="form-check-label">Categories:</label>
        <br />
            
        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            @Html.EditorFor(categories => Model.Categories[i], "Category")
        }
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="CreatedOn"></label>
            <input asp-for="CreatedOn" class="form-control" />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-1" style="width:150px">Update</button>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>

@if (!string.IsNullOrEmpty(tagString))
{
    <p>This blog has the following tags:</p>
    <p>@tagString</p>
}

<partial name="_AddTag" model="new AddTagModel{BlogsId=Model.Id}" />

@if (tags != null)
{
    @foreach (var t in tags)
    {
        <div>
            @t.Name
        </div>

        <a asp-area="Admin" asp-controller="Tag" asp-action="DeleteTag" asp-route-id="@t.Id" asp-route-blogId="@Model.Id" asp-route-tagId="@t.Id" class="btn btn-outline-danger">Delete Tag </a>
    }
}