﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.Blog>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />

<h1 class="text-primary">Blogs Page</h1>

<div class="col-12 text-end">
    <a asp-controller="Blog" asp-action="Create" class="btn btn-outline-primary">Create New Category</a>
</div>


@foreach (var obj in Model)

{    
    <label asp-for="@obj.Name">Name:</label>
    <div>
        @obj.Name
    </div>

    <label asp-for="@obj.CreatedOn">Created On:</label>
     <div>
        @obj.CreatedOn
    </div>
    
    <label asp-for="@obj.Body">Body:</label>
    <div>
        @obj.Body
    </div>

<a asp-controller="Blog" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-warning"> Edit</a>
<a asp-controller="Blog" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger"> Delete</a>

 <hr />

}

 @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new{page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{ LiElementClasses = new string[] {"page-item"}, PageClasses= new string[] {"page-link"}})
