﻿@using MyPersonalWebsite.ClassLib.Models.Author
@model AddAuthorModel

<form method="post" asp-action="Create">
    <div>
        <div>
            <h2 class="text-primary">Add Author</h2>
            <hr/>
        </div>

        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

         <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <br/>

        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Author" asp-action="Index" class="btn btn-secondary">
            Back to List
        </a>

   </div>
 </form>