﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@model Author

<form method="post" asp-action="Delete">
    <input asp-for="AuthorId" hidden />
    <div>
        <div>
            <h2 class="text-primary">Delete Author</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" disabled class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" disabled class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" disabled class="text-danger"></span>
           
        </div>
        <br />
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Author" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
        

    </div>



</form>