﻿@using MyPersonalWebsite.ClassLib.Models.Author
@model EditAuthorModel

<form method="post" asp-action="Edit">
   <input asp-for="Id" type="hidden" />
    <div>
        <div>
            <h2 class="text-primary">Edit Author</h2>
            <hr />

            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary mt-1" style="width:150px">Update</button>
    <a asp-controller="Author" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>

    </div>
    </div>

</form>