﻿@model X.PagedList.IPagedList<MyPersonalWebsite.ClassLib.Data.Entities.Author>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
    
<link href="~/Content/PagedList.css" rel="stylesheet" 
  type="text/css" />

<h1 class="text-primary">List of Authors</h1>
  <hr />

    <div class= col-12>
    <a asp-controller="Author" asp-action="Create" class="btn btn-outline-primary">Add Author</a>
    </div>

  <br/>

  <div class="container">
    @foreach (var obj in Model){
  <div class="row">
     <div class="col-6">
      <label>Author Name:</label>
      @obj.FirstName  @obj.LastName
      </div>
      <div class="col-6">
      <label>Email:</label>
      @obj.Email
      </div>
  </div>

    <br/>

  <a asp-controller="Author" asp-action="Edit" asp-route-id="@obj.AuthorId" class="btn btn-outline-warning"> Edit</a>
  <a asp-controller="Author" asp-action="Delete" asp-route-id="@obj.AuthorId" class="btn btn-outline-danger"> Delete</a>
<hr />
    }
</div>