﻿@page "/Blogs/Index"
@model MyPersonalWebsiteRazorPages.Pages.Blogs.BlogModel
@{

    

    @foreach (var obj in Model.blogs)

    {
   
    <div>
       <h4>@obj.Name <h4/>
    </div>

     <div>
        @obj.BlogTime
    </div>

     <div>
        
        @obj.Message
        
    </div>

     <img src="/@obj.Image" alt="Ncastle United" style="width: 150px; height: 150px;"/> 
    

     <hr/>
    
   
}
}
