﻿@model MyPersonalWebsite.ClassLib.Models.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Newcastle United</h1>
    <img src="@Model.HeroImageUrl" class="rounded" alt="Newcastle United"/> 
    <br/>
    <p> @Model.HomePageText</p>
</div>
