﻿@model MyPersonalWebsite.ClassLib.Models.ContactFormViewModel
@{
    var success = ViewData["Success"] != null ? (bool)ViewData["Success"] : false;
}
@if (success == true)
{
    <p>Thank you.</p>
}
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
       <label asp-for="Name"  class="form-label"> Your Name:</label>
        <input asp-for="Name" class="form-control" type="text" name="Name" />
        <span asp-validation-for="Name" class ="text-danger"></span>
    </div>

    <div class="mb-3">
       <label asp-for="Email"  class="form-label">Your Email: </label>
        <input asp-for="Email" class="form-control"  type="text" name="Email"/>
        <span asp-validation-for="Email" class ="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Message"  class="form-label">Your Message: </label>
        <textarea name="Message" rows="4" cols="50" class="form-control"> </textarea>
        <span asp-validation-for="Message" class ="text-danger"></span>
    </div>

    <button type="submit"  class="btn btn-primary mt-3">Submit</button>

</form>