﻿@using MyPersonalWebsite.ClassLib.Data.Entities
@model News

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div>
        <div>
            <h2 class="text-primary">Delete News</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" disabled class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PublishOn"></label>
            <input asp-for="PublishOn" class="form-control" />
            <span asp-validation-for="PublishOn" disabled class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Body"></label>
            <br/>
            <textarea asp-for="Body" clas="form-control" disabled rows="6" cols="50"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="News" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
        

    </div>



</form>