﻿@using MyPersonalWebsite.ClassLib.Models.News
@using MyPersonalWebsite.ClassLib.Services
@model EditNewsModel

@{
     var authors = ViewData["authors"] as List<SelectListItem> ?? new List<SelectListItem>();

     var categories = ViewData["categories"] as List<SelectListItem> ?? new List<SelectListItem>();
}

<form method="post" asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    
    <div>
        <div>
            <h2 class="text-primary">Edit News</h2>
            <hr />
        </div>

      <div class="form-group">
      <label asp-for="AuthorId" class="control-label">Author:</label>
      <select asp-for="AuthorId" class="form-select" asp-items="@(new SelectList(@authors,"Value","Text"))">
      <option value="">Select Author</option>
      </select>
       <br/>
       </div>

       <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PublishOn"></label>
            <input asp-for="PublishOn" class="form-control" />
            <span asp-validation-for="PublishOn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
      <div class="form-group">
      <label asp-for="PrimaryCategoryId" class="control-label">News Category:</label>
      <select asp-for="PrimaryCategoryId" class="form-select" asp-items="@(new SelectList(@categories,"Value","Text"))">
      <option value="">Select Category</option>
      </select>
      <br/>
       </div>
       <div class="form-group">
        <label class="form-check-label">Other Categories:</label>
        <br />
            
        @for (int i = 0; i < Model.OtherCategories.Count; i++)
        {
            @Html.EditorFor(otherCategories => Model.OtherCategories[i], "OtherCategories")
        }
        </div>
        <button type="submit" class="btn btn-primary mt-1" style="width:150px">Update</button>
        <a asp-controller="News" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>